<p>vuelos-component works!</p>
<div class="navLinks">
    <!-- Son routerLinks relativos -->
    <a [routerLink]="['/main']">Main</a> | 
    <a [routerLink]="['/mas-info']">Mas Info</a> | 
    <a [routerLink]="['./', 5]">Vuelo 5</a>
</div>

<!-- Las rutas anteriores se cargaran dentro de este router-outlet, y este router-outlet está dentro de otro router-outlet (del principal de la aplicacion) -->
<router-outlet></router-outlet>