<p>destino-detalle works!</p>
<br>
<hr>
<mgl-map
    [style]="style"
    [zoom]="[2]"
>
    <mgl-marker [lngLat]="[-75.551012, 10.421185]">
        <div
            onclick="alert('hola')"
            class="marker"
            >
        Hola mundo!
        </div>
    </mgl-marker>
</mgl-map>