<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text"	class="form-control" id="nombre" placeholder="Ingresar nombre..."
        [formControl]="fg.controls['nombre']">
        <ul>
            <li 
            *ngFor="let r of searchResults;"
            appEspiame
            >{{r}}</li>
        </ul>
        <!-- comprueba si el control 'nombre' es válido -->
        <!--<div *ngIf="!fg.controls['nombre'].valid">
            <label style="color: red;">Nombre invalido!</label>            
        </div>-->
        <!-- comprueba si el control 'nombre' tienen un error del Validador 'required' -->
        <div *ngIf="fg.controls['nombre'].hasError('required')">
            <label style="color: red;">ERROR1: Nombre requerido!</label>            
        </div>        
        <!-- comprueba si el control 'nombre' tienen un error del Validador PERSONALIZADO 'invalidNombre' -->
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">
            <label style="color: blue;">ERROR2: Nombre inválido, mínimo 5 carateres!</label>            
        </div>                
        <!-- comprueba si el control 'nombre' tienen un error del Validador PERSONALIZADO 'minLongNombre' -->
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">
            <label style="color: orange;">ERROR3: Nombre debe tener almenos {{minLongitud}} de largo!</label>            
        </div>                        
    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen	Url</label>
        <input type="text" class="form-control"	id="imagenUrl"	placeholder="Ingresar url..."
        [formControl]="fg.controls['url']">
    </div>
    <button	type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>